@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto&family=Special+Elite&display=swap');
body {
    background-repeat: no-repeat;
    background-attachment: fixed;
/* 
    background-color: #8BC6EC; */
    /* background-image: linear-gradient(135deg, #ffffff 0%, #fbd0b5 100%); */

    background-color: #f3faff;
    background-image: linear-gradient(135deg, #fff9e6 0%, #f7ca90 100%);


    font-family: "Noto Sans", serif;
    text-align: center;
    /* margin-top: 2em; */
    margin-bottom: 10em;
    font-size: 1.3em;
    color: black;
}

#obrazek {
    border: 3px solid green;
}

#logo {
    width: 300px;
    height: auto;
}

p {
    line-height: 1.5em;
    text-align: left;
}

#napoveda {
    margin-top: 0;
    margin-bottom: 1em;
    text-align: center;
    font-weight: bold;
}

main > * {
    margin: 0.5em;
}

h1 {
    font-family: "Special Elite", serif;
    font-size: 2.3em;
    color: orangered;
}

input {
    background-color: whitesmoke;
    border-radius: 10em;
}

img {
    height: auto;
    width: 100%;
    text-align: center;
}

#info {
    border: solid red 0.1em;
    background-color: white;
    text-align: center;
    padding: 0.4em;
    border-radius: 0.3em;
    font-size: 1.2em;
}

img {
    height: auto;
    width: 100%;
    max-width: max-content;
    margin-left: auto;
    margin-right: auto;
}

input {
    height: 2em;
    width: 75%;
    font-family: "Roboto", serif;
    font-size: 1.3em;
    border-radius: 0.25em;
    background-color: #00000011;
    border-color: #00000055;
    border-style: solid;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

button {
    height: 2em;
    width: 75%;
    font-family: "Roboto", serif;
    font-size: 1.3em;
    border-radius: 0.25em;
    background-color: lightcyan;
    border: solid blue 0.1em;
    color: blue;
}